.container {
  max-width: 500px;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: red;
}

.tile {
  border-color: black;
  border-style: solid;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: xx-large;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
